.main {
    background-color: rgb(134, 122, 168);
    color: white;
    height: auto;
    min-height: 73.3vh;
    width: auto;
    text-align:center;
}

.article {
    padding: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hiddenEl {
    display: none;
}
