@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.sidebar {
    background: white;
    height: 100%;
    width: auto;
    display: flex;
    align-items: stretch;
    margin-top: 35%;
}

.sidebarPadding {
    text-align: center;
    width: 100%;
    list-style: none;
}

.sidebarPadding li{
    text-align: center;
    background: white;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #333;
    margin: 10px;
    border-radius: 2%;
}

.sidebarPadding li:hover{
    text-align: center;
    background-color:#807373;
    border: 2px solid #333;
}

.sidebarPadding a {
    display: flex;
    padding: 4% 2%;
    padding-left: 3%;
    text-decoration: none;
    color: #333;
    font-weight: 505;
    font-size: 18px;
}

.sidebarPadding a:hover {
    text-decoration: none;
    color: #333;
}

@media screen and (max-width: 800px) 
{
    .sidebarPadding a {
        display: flex;
        padding: 0 0;
        text-decoration: none;
        color: #333;
        font-weight: 505;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 500px) 
{
    .sidebarPadding a {
        display: flex;
        text-decoration: none;
        color: #333;
        font-weight: 505;
        font-size: 3vw;
    }
}
