.hidden {
    display: none;
}

.inlinErrorMsg {

}

.topnav #myLinks {
    overflow: hidden;
    background-color: #333;
}
.paddingLeft {
    padding-left: 16px;
}

.topnav {
    overflow: hidden;
    display: block;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    // background-color: #4CAF50;
    border-bottom: 5px solid #dc1a1a;
    color: white;
}
  
  .topnav .icon {
    display: none;
}

.topnav a.inactive {
    background-color: #333;
    color: white;
}

.topnav a.rightNav{
    float: right;
    text-align: right;
    margin-right: 5%;

}

.cover {
    width: 100%;
    object-fit: cover;
    height: 450px;
}

@media screen and (max-width: 1000px)
    {
        /* Hide the links inside the navigation menu (except for logo/home) */
        .topnav #myLinks {
            display: none;
        }

        /* Style navigation menu links */
        .topnav a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            float: none;
        }

        /* Style the hamburger menu */
        .topnav a.icon {
            background: black;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        /* Add a grey background color on mouse-over */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.rightNav{
            // color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            // display: none;
            float: none;
            margin-right: 0;
        }
}
